# {{ ansible_managed }}

{% if rundeck_enable_ssl %}
export RD_URL=https://127.0.0.1:{{ rundeck_https_port }}
{% if rundeck_cli_insecure_ssl %}
export RD_INSECURE_SSL=true
{% endif %}
{% else %}
export RD_URL=http://127.0.0.1:{{ rundeck_http_port }}
{% endif %}
{% if rundeck_cli_auto_token %}
export RD_TOKEN={{ _cli_token }}
{% endif %}
