# {{ ansible_managed }}

RDECK_INSTALL="{{ rundeck_base_dir }}"
RDECK_BASE="{{ rundeck_base_dir }}"
RDECK_CONFIG="{{ rundeck_config_dir }}"
RDECK_JVM_SETTINGS="-Xmx{{ rundeck_maximum_heap_size }} -Xms{{ rundeck_initial_heap_size }} -XX:MaxMetaspaceSize={{ rundeck_maximum_metaspace_size }} -server"
RDECK_HTTP_PORT="{{ rundeck_http_port }}"
RDECK_HTTPS_PORT="{{ rundeck_https_port }}"
{% if rundeck_ssl_enable -%}
RUNDECK_WITH_SSL="true"
{%- endif %}
{% if rundeck_ldap_enable %}
LOGIN_MODULE=ldap
JAAS_CONF={{ rundeck_config_dir }}/jaas-ldap.conf
{% endif %}

ulimit -n {{ rundeck_open_file_limit }}
